<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        .custom-bg-color {
            background-color: #ffdb58;
        }
    </style>
</head>
<body class="container">
    <center>
        <div class="p-3 text-primary-emphasis custom-bg-color border-primary-subtle">
            <h1><strong>Compañia de Luz</strong></h1>
            <img src="/img/CFE.png" width="200" height="200" class="rounded mx-auto d-block" alt="...">
        </div>
    </center>
</body>
</html>